.left_5 {
    /* position: relative; */
    width: 250px;
height: 148px;
left: 47px;



}
.container2 {
    display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
}

.skills-name {
    width: 49px;
height: 24px;
left: 47px;
top: 591px;
margin-top: 5px;
margin-bottom: 5px;

/* Paragraph Progress - 15 */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */

text-transform: capitalize;
font-feature-settings: 'calt' off, 'kern' off;

/* Paragraph Font */

color: #767676;
}