<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REJA</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  </head>
  <body style="background: url('https://source.unsplash.com/1920x1080/?sunset') no-repeat; background-size: cover;">
      <div class="container ">
        <h1 class="display-5 text-center text-light py-1 mt-3 "> PLANS AND TASKS</h1>

        <div class="jumbotron p-3 bg-transparent shadow-sm">
          <form id="create-form" action="/create-item" method="POST">
            <div class="d-flex align-items-center">
              <input
              id="create-field"
              name="reja"
              autofocus
              autocomplete="off"
              class="form-control mr-3"
              type="text" 
              style="flex: 1; background: #000000d0; color: aliceblue;"
              >
              <button class="btn btn-primary" style="border-radius: 20px">
              Add a new task
              </button>
            </div>
           
          </form>
        </div>

        <ul id="item-list" class="list-group 
        pb-5" >
          <% items.map(function(item){ %>
            <li class=" text-white list-group-item list-group-item-info d-flex align-items-center justify-content-between" style="background: #000000d0;">
              <span class="item-text">
                <%=item.reja%>
              </span>
              <div>
                <button data-id="<%=item._id%>" class="edit-me btn btn-secondary btn-sm mr-1">
                  Edit
                </button>
                <button data-id="<%=item._id%>" class="delete-me btn btn-success btn-sm">Completed</button>
              </div>
            </li>
            <% }) %>
        </ul>


        <button id="clean-all" class="btn btn-danger" style="border-radius: 20px">
          Delete All
          </button>

        
         
          <div class="text-center  mt-4 " style="border-radius: 5px; background: #000000d0;" >
            <h5 class=" text-center text-muted">Quote of the day</h5>

            <blockquote class="blockquote text-center">
              <p class="mb-0 h6 text-white"><em id="quote"> </em></p>
              <footer id="author" class="blockquote-footer h6"> Recieving a quote...</footer>
            </blockquote>
            <button id="btn" class="btn btn-primary text-center mb-1" style="border-radius: 20px; opacity: 100%;">
              Get quote
              </button>
          </div>
      </div>
      
      <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
      <script src="/browser.js"></script>
  </body>
</html>



<!-- <ul id="'item-list" class="list-group pb-5">
  <li class="list-group-item list-group-item-info d-flex align-items-center justify-content-between">
    <span class="item-text"></span>
  </li>
</ul>
</div>
<button class="btn btn-danger" style="border-radius: 20px">
  Hamma Rejalarni Ochirish
  </button>
  <button class="delete-me btn btn-danger btn-sm">Ochirish</button>
</div> -->